[submodule "functions/antalmanac-backend"]
	path = functions/antalmanac-backend
	url = https://github.com/icssc-projects/antalmanac-backend.git
[submodule "functions/Antalmanac"]
	path = functions/Antalmanac
	url = https://github.com/icssc/AntAlmanac.git
