[submodule "functions/antalmanac-backend"]
	path = functions/antalmanac-backend
	url = https://github.com/icssc-projects/antalmanac-backend.git
[submodule "functions/AntAlmanac"]
	path = functions/AntAlmanac
	url = https://github.com/icssc/AntAlmanac
